# Frontend (React/Vite)
eps-frontend/node_modules/
eps-frontend/dist/
eps-frontend/.vite/

# Backend (Python)
eps-backend/venv/
eps-backend/__pycache__/
eps-backend/uploads/

# Environment variables (NUNCA subir a GitHub)
eps-backend/.env
.env

# Archivos generados por el Sistema Operativo
.DS_Store
Thumbs.db

# Configuración de IDE
.vscode/
node_modules
